.about-wrapper {
    width: 100%;
    min-height: calc(100vh - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        height: auto;
    }
}

.about {
    margin: 10rem auto;
    display: grid;
    grid-template-columns: 42rem 42rem;
    column-gap: 6rem;
    grid-template-areas:
        'about skill'
        'love .';

    @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        margin: 8rem auto;
        width: 80%;
    }

    &__about {
        text-align: justify;
        margin-bottom: 6rem;
        grid-area: about;

        @media (max-width: 960px) {
            margin-bottom: 0;
        }

        & > p {
            font-size: 1.6rem;
            line-height: 1.5;
        }

        & > p:not(:last-child) {
            margin-bottom: 1.3rem;
        }
    }

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
    }

    &__love {
        font-size: 1.6rem;
        grid-area: love;

        @media (max-width: 960px) {
            order: 3;
        }
    }

    &__love-header {
        display: flex;
        align-items: center;
        gap: 6px;

        & img {
            transform: translateY(2px);
        }
    }

    // &__programmer {
    //     width: 40rem;
    //     height: 40rem;
    //     position: relative;

    //     @media (max-width: 768px) {
    //         order: 1;
    //     }
    // }

    &__skills {
        width: 40rem;
        grid-area: skill;

        @media (max-width: 960px) {
            order: 2;
            width: 80%;
        }
    }

    &__skills-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.2rem;
        column-gap: 7rem;
        height: 25.2rem;

        @media (max-width: 420px) {
            height: 23rem;
            column-gap: 4rem;
            row-gap: 0.7rem;
        }
    }
}
