.spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > div {
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        border-top: 4px solid var(--color-primary);
        animation: spin 0.6s linear infinite;
    }
}

@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}
