.home {
    position: relative;
    width: 90vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 0 auto;

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    &__header-textbox {
        line-height: 1.3;
        user-select: none;

        & > span {
            font-size: 1.8rem;
            color: var(--color-primary);
        }
    }
}
